body {
    min-width: 400px;
    margin: 0;
    font-family: helvetica;
    line-height: 1.5;
    color: #333;
}


.show {
    display: block;
}

.hide {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { 
    display: inline-block; 
}

.no_style_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.max_width_bound {
    display: block !important;
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/********************
em is used to drop template info in
********************/
em {
    font-style: normal;
}


header,
.errors_container {
    padding: 2px 15px;
}

header {
    background: #E54D39;
    color: #fff;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 1px #8F8787;
    border-bottom: 1px solid #9C5E3B;
}


header h1 {
    font-size: 13px;
}


.errors_container {
    font-size: 13px;
    margin: 8px 0;
}

.errors_container .errors_list {
    max-height: 350px;
    overflow: scroll;
}

.errors_container ul li {
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding: 2px 0;
    margin-top: 5px;
}

.errors_container ul li div {
    display: inline-block;
}

.errors_container .occurance {
    display:block;
    font-style: oblique;
    font-size: 12px;
    line-height: 2;
    padding-right: 3px;
}

.errors_container .origin {
    /* keep inline with the error name */
    display: inline;
}

.errors_container .type,
.errors_container .origin {
    font-weight:bold;
}

.errors_container .iframeInfo {
    display: inline;
}

.errors_container .call_stack_content {
    display: block;
    padding: 5px 0;
    color: #777;
    font-size: 12px;
    white-space: nowrap;
}

.errors_container .call_stack_content .stack_item{
    display: block;
    padding-left: 15px;
}

.call_stack_content a {
    color: #333;
    outline: none;
}
.call_stack_content a:hover {
    text-decoration: none;
}
