* {
    box-sizing: border-box;
}

body {
    min-width: 400px;
    overflow: auto;
    margin: 0;
    font-family: helvetica;
    line-height: 1.5;
    color: #333;
}

body.body_options_open {
    min-height: 210px;
}


.show {
    display: block;
}

.hide {
    display: none;
}

.disabled, [disabled]{
    opacity: .5;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { 
    display: inline-block; 
}

.no_style_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.max_width_bound {
    display: block !important;
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    /* needs max width on el as well*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/********************
em is used to drop template info in
********************/
em {
    font-style: normal;
}


header {
    padding: 2px 15px;
    background: #E54D39;
    color: #fff;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 1px #8F8787;
    border-bottom: 1px solid #9C5E3B;
}


header h1 {
    font-size: 13px;
}


.errors_container {
    font-size: 13px;
    margin: 8px 0;
    padding: 2px 0;
}

.errors_container .no_errors {
    padding: 0 15px;
}

.errors_container .errors_list {
    max-height: 400px;
    overflow: scroll;
}

.errors_container ul li {
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding: 2px 25px 2px 30px;
    margin-top: 5px;
    cursor: default;
}

.errors_container .errors_list:hover li {
    transition: all ease .2s;
}
.errors_container .errors_list:hover li:hover {
    /*will add when we do actions*/
    /*padding-left:40px;
    padding-right:0;*/
}


.errors_container ul li div {
    display: inline-block;
}

.errors_container .occurance {
    display: block;
    color: #bdbdbd;
    font-style: oblique;
    font-size: 11px;
    line-height: 1.9;
    letter-spacing: 1px;
    margin-left: -26px;
    float: left;
    width: 20px;
    text-align: center;
}

.errors_container .origin {
    /* keep inline with the error name */
    display: inline;
}

.errors_container .type,
.errors_container .origin {
    font-weight:bold;
}

.errors_container .iframeInfo {
    display: inline;
}

.errors_container .call_stack_content {
    display: block;
    padding: 5px 0;
    color: #777;
    font-size: 12px;
    white-space: nowrap;
}

.errors_container .call_stack_content em {
    font-size: 10px;
    color: #C5C2C2;
    font-style: normal;
    letter-spacing: 0.4px;
}

.errors_container .call_stack_content.show_stack .stack_item {
    display: block;
}
.errors_container .call_stack_content .stack_item {
    display: none;
    padding-left: 15px;
}


.call_stack_content a {
    color: #333;
    outline: none;
}
.call_stack_content a:hover {
    text-decoration: none;
}

/* arrow magic */
.arrow {
    width: 10px;
    height: 6px;
    margin-left: -13px;
    margin-right: 4px;
    
    transition: transform ease 0.2s;
    transform-origin: 2px 5px;
}
.toggle_stack .arrow {
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid #bdbdbd;
    border-right: 0;
    cursor: pointer;
}

.show_stack .arrow {
    /*border-top: 5px solid #bdbdbd;
    border-bottom: 0;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);*/

    /*margin-left: -12px;
    margin-right: 4px;*/

    transform: rotate(90deg);
}


/**
    OPTIONS COG
**/
#options_cog {
    float:right;
    outline: 0;
    padding-top: 6px;
    margin-right: -5px;
}

#options_cog path {
    fill: #88271A;
}
#options_cog:hover path {
    fill: #66190F;
}

/**
    OPTIONS FRAME HOLDER
**/
.options_container {
    display: none;
    position: absolute;
    top: 30px;
    background: #FFF;
    width: 90%;
    right: 5%;
    box-shadow: 0 5px 30px #999;
}
.options_container.js_open {
    display: block;
}

.options_container iframe {
    border: none;
}

/**
    OPTIONS CONTENT
**/
.options_content {
    padding-left: 15px;
    padding-right: 15px;
}

.options_list {
    list-style-type: none;
    padding-left: 0px;
}
.option {
    padding-top: 5px;
}
.sub_option {
    padding-left: 15px;
}

#popup_for_domain {
    max-width: 90%; /* allows for better elipse spacing*/
}






